
.delete-devices-cards-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Using 1fr instead of fixed width for columns */
    gap: 80px; /* Reduced gap for better visibility */
    justify-content: center;
    align-items: center;
}


@media (max-width: 600px) {
    
    .delete-devices-cards-container {
        margin-top: 120px;
        
        grid-template-columns: repeat(1, 400px); /* Using 1fr instead of fixed width for columns */
        gap: 20px; /* Adjust gap for better visibility */
        margin-left: 0px;
      
    }
}