.fm-nav-bar{
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #15ca8e;
    z-index: 1;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;    
}
.fm-nav-bar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  margin-top: 25px;
}
.react-icons-user-icon{
  font-size: 24px;
  color: white;
  margin-left: 25px;
  cursor: pointer;
  vertical-align: middle;  
}
.fm-serach-bar{
  vertical-align: middle;
  width: 220px;
  height: 30px;
  border-radius: 20px;
  background-color: #025c3e;
  color: white;
  text-align: center;
  border: none;
  font-size: medium;
}
.fm-nav-items{
  margin-right: 40px;
  font-size: 14px;
  vertical-align: middle;
  font-weight: bold;
  color: white;
  vertical-align: middle;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease; 
}
.fm-nav-items:hover{
  background-color: rgb(137, 234, 187);
}
.nav-logo{
  color: white;
  font-size: 30px;
  font-weight: bold;
  vertical-align: middle;
}
.fm-nav-right{
  margin-right: 25px;
  vertical-align: middle;
}
.fm-nav-left{
  margin-left: 150px;
  vertical-align: middle;
}
.hamburger-icon {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
  vertical-align: middle;
  margin-top: 3px;
  margin-left: 5px;
}
.logo-image{
  position: absolute;
  top: -15px;
  left: 10px;
  margin-top: 0px;
  width: 150px;
  display: inline-block;
  padding: 0;
}

.menu-items.active {
  display: block;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fm-nav-items-overlay {
  margin: 10px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 1400px) {
  .logo-image{
    display: none;
  }
  .hamburger-icon {
    display: block;
    position: absolute;
    left: 10px;
    top: 20px; 
  }
  .fm-menu-close-icon{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
  }
  .overlay{
    display:  flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .fm-nav-bar-container {
    flex-direction: row; 
    justify-content: space-between;
  }
    .fm-nav-right {
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px; 
    top: 20px; 
  }
  .fm-serach-bar {
    margin-right: 15px; 
    width: 200px;
  }
  .menu-items {
    display: none;
    position: absolute;
    left: 0;
    top: 60px; 
    background-color: #15ca8e;
    width: 100%;
    text-align: left;
  }
  .menu-items.active {
    display: block;
  }
  .fm-nav-left span {
    display: none;
  }
}
@media (max-width: 600px) {

  .logo-image{
    display: none;
  }
  .hamburger-icon {
    display: block;
    position: absolute;
    left: 10px; 
    top: 20px; 
  }
  .fm-menu-close-icon{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
  }
    .fm-nav-bar-container {
    flex-direction: row; 
    justify-content: space-between;
  }
  .overlay{
    display:  flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .fm-nav-right {
    display: flex;
    align-items: center;
    position: absolute;
    right: 30px; 
    top: 20px; 
    margin-right: 5px;
  }
  .fm-serach-bar {
    margin-right: 25px; 
    width: 200px;
  }
  .menu-items {
    display: none;
    position: absolute;
    left: 0;
    top: 60px; 
    background-color: #15ca8e;
    width: 100%;
    text-align: left;
  }
  .menu-items.active {
    display: block;
  }
  .fm-nav-left span {
    display: none;
  }
}
