* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

footer {
  position: absolute;
  bottom: -80px;
  left: -80px;
  right: -80px;
  height: 140px;
  background-color: #15ca8e;
  z-index: 1;
  border-bottom-left-radius: 2%;
  border-bottom-right-radius: 2%;
  color: white;
  align-items: center;
}

.footer-items-container {
  margin-left: 80px;
  margin-right: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-headers {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.footer-left-part {
  margin-top: 15px;
}

.footer-right-part {
  margin-top: 15px;
}

.footer-middle-part p {
  color: white;
}

.e-services,
.website {
  padding: 4px 8px;
  border-radius: 7px;
  display: block;
  width: fit-content;
  text-decoration: none;
  color: aliceblue;
  transition: color 0.3s ease-in-out;
  display: inline;
}

.call-left-part {
  display: none;
}

.e-services:hover {
  color: rgb(190, 188, 188);
  background-color: rgb(255, 255, 255);
}

.website:hover {
  color: rgb(190, 188, 188);
  background-color: rgb(255, 255, 255);
}

.footer-middle-part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-middle-part p {
  display: block;
  color: white;
  margin-top: -14px;
}

.logo-image-footer {
  width: 150px;
  display: inline-block;
  padding: 0;
}

@media (max-width: 700px) {

  body,
  html {
    margin: 0;
    padding: 0;
  }

  * {
    box-sizing: border-box;
  }

  body {
    overflow-x: hidden;
  }

  footer {
    position: absolute;
    bottom: -80px;
    left: -80px;
    right: 0;
    height: 180px;
    background-color: #15ca8e;
    z-index: 1;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
  }

  .footer-items-container {
    display: block;
    position: relative;
  }

  .footer-headers {
    display: none;
  }

  .call-left-part {
    margin-top: 10px;
    position: absolute;
    left: 10px;
  }

  .call-right-part {
    display: none;
  }

  .footer-items-container a {
    display: block;
    margin-left: 15px;
    font-weight: bold;
  }

  .footer-middle-part {}

  .footer-middle-part p {
    display: block;
    position: absolute;
    top: 120px;
    left: 100px;
    color: white;
  }

  .logo-image-footer {
    position: absolute;
    top: -30px;
    left: 250px;
    width: 150px;
  }
}