
    
@media (min-width: 769px) { 

    .card-Container{
        display: grid;
        grid-template-columns: repeat(3, 300px); /* 3 columns */
        margin-top: 300px;
        margin-bottom: 150px;
        align-items: center;
        justify-content: space-evenly;
        width: 1400px;
        height: 500px;
        padding: 25px;
        margin-left: 50px;
        margin-right: 50px;
        gap: 40px;
        position: relative;
    }

    .back-icon{
    color: rgb(2, 185, 106);
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    left :40px;
    top: 15px;
    cursor: pointer;
    }
    
  }
  @media (max-width: 768px) {
    .card-Container{
        display: grid;
        grid-template-columns: repeat(2, 300px); /* 3 columns */
        margin-top: 90px;
        margin-bottom: 250px;
        align-items: center;
        justify-content: space-evenly;
       width: auto;
       height: auto;
        padding: 25px;
        margin-left: 50px;
        margin-right: 50px;
        gap: 30px;
        
    }
    .back-icon{
      color: rgb(2, 185, 106);
      position: absolute;
      font-size: 24px;
      font-weight: bold;
      left :40px;
      top: 90px;
      cursor: pointer;
      }
  }
  @media (max-width: 600px) {
    
    .card-Container{
      display: grid;
      grid-template-columns: repeat(1, 300px); /* 3 columns */
      margin-top: 80px; 
    }
    .back-icon{
      color: rgb(2, 185, 106);
      position: absolute;
      font-size: 24px;
      font-weight: bold;
      left :20px;
      top: 90px;
      cursor: pointer;
      }
  }
  body {
    background-color: #f7f7f789;
  }