.spin {
  position: fixed;
  top: 180px;
  left: 100px;
  right: 100px;
}

.assigned-to-info {
  font-size: 18px;
  margin-left: 20px;
  margin-top: 50px;


  color: rgb(255, 255, 255);
  text-align: center;

}

.done-icon {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

@media (min-width: 1000px) {
  .my-report-page {
    padding-top: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    background-color: rgb(172, 253, 192);
    position: relative;
    border-radius: 20px;
    background-image: linear-gradient(to right bottom,
        #2ecc71,
        #48d68c,
        #5fdd9d,
        #76e4ae,
        #8debbe);
    color: rgb(254, 254, 254);

    font-size: 16px;
    -webkit-box-shadow: 4px 16px 24px -10px rgba(126, 126, 136, 1);
    -moz-box-shadow: 4px 16px 24px -10px rgba(126, 126, 136, 1);
    box-shadow: 4px 16px 24px -10px rgba(126, 126, 136, 1);
  }

  .my-report-container {
    flex: 1;
    margin-top: -15px;
    margin-bottom: 35px;
  }

  .my-right-part {
    flex: 1;
    margin-top: 50px;
    margin-bottom: 35px;
  }

  .my-report-id {
    font-size: 22px;
    margin-left: 15px;
    color: rgb(255, 255, 255);
  }

  .my-report-date {
    font-size: 22px;
    margin-left: 25px;
    margin-left: 100px;
    color: rgb(255, 255, 255);

  }

  .custom-steps {
    margin-left: 200px;
  }

  .my-report-device-number {
    font-size: 18px;
    margin-left: 40px;
    margin-top: 30px;
    color: rgb(255, 255, 255);
    display: inline-block;
  }

  .my-lab-number {
    font-size: 18px;
    margin-right: 80px;
    margin-left: 25px;
    margin-top: 5px;
    color: rgb(255, 255, 255);
    display: inline-block;
  }

  .my-problem-type {
    margin-top: 30px;
    font-size: 18px;
  }

  .my-problem {
    font-size: 18px;
    margin-left: 40px;
    margin-top: 50px;

    margin-left: 40px;
    color: rgb(255, 255, 255);
  }

  .my-action-taken {
    font-size: 18px;
    margin-left: 40px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
  }

  .my-repair-date {
    font-size: 18px;
    margin-left: 40px;
    margin-top: 60px;
    color: rgb(255, 255, 255);
  }

.custom-steps {
  font-size: 40px;
  color: white;
}

.custom-steps .ant-steps-item-icon {
  background-color: rgb(212, 210, 239) !important;
  border-color: white !important;
  color: white;
}

.custom-steps .ant-steps-item-title,
.custom-steps .ant-steps-item-description {
  color: white !important;
}

.custom-steps .ant-steps-item-icon .ant-steps-icon {
  color: rgb(0, 0, 0) !important;
}

.custom-steps .ant-steps-item-finish .ant-steps-item-icon {
  background-color: rgb(145, 138, 254) !important;
  border-color: rgb(255, 255, 255) !important;
  border: solid 3px;
  color: rgb(0, 0, 0) !important;
}

.custom-steps .ant-steps-item-process .ant-steps-item-icon {
  background-color: rgb(212, 210, 239) !important;
  border-color: rgb(255, 255, 255) !important;
  border: solid 3px;
  color: white !important;
}

.custom-steps .ant-steps-item-wait .ant-steps-item-icon {
  border-color: rgb(255, 255, 255) !important;
  border: solid 3px;
}

.custom-steps .ant-steps-item-icon .ant-steps-icon {
  color: white !important;
}

.custom-steps .ant-steps-item-tail::after {
  background-color: white !important;
}

  p {
    margin-top: 0px;
  }

  .assign-part {
    margin-top: 15px;

  }

  .assign-button {
    width: 110px;
    height: 30px;
    cursor: pointer;
    background-color: rgb(101, 77, 233);
    color: white;
    border: none;
    border-radius: 20px;
    margin-right: 15px;
  }

  .assign-button:hover {
    background-color: rgb(124, 104, 237);

  }

  .assign-button:active {
    background-color: rgb(147, 130, 238);

  }

  .handle-button {
    width: 180px;
    height: 30px;
    cursor: pointer;
    background-color: rgb(35, 142, 204);
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 15px;
  }

  .handle-button:hover {
    background-color: rgb(68, 157, 209);

  }

  .handle-button:active {
    background-color: rgb(93, 184, 237);

  }

  .suggested-button {
    width: 180px;
    height: 30px;
    cursor: pointer;
    background-color: rgb(35, 142, 204);
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 15px;

  }

  .suggested-button:hover {
    background-color: rgb(68, 157, 209);

  }

  .suggested-button:active {
    background-color: rgb(93, 184, 237);

  }

  .report-action-taken-alert-success {
    position: fixed;
    left: 25px;
    right: 25px;
    z-index: 5;
    margin-top: 25px;
    border: 3px solid rgb(0, 208, 0);
  }


}

@media (max-width: 999px) {

  .done-icon {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 18px;
    cursor: pointer;
    color: white;
  }



  .my-report-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 100px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;

  }

  .my-report-container {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    word-break: break-word;
    position: relative;
    background-color: #48d68c;
    margin-top: 30px;
    padding-top: 35px;
  }

  .my-right-part {
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(249, 249, 249);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 50px;
  }
  

  .my-report-id,
  .my-report-date {
    font-size: 16px;
    position: absolute;
    font-weight: bold;
    color: rgb(255, 255, 255);


  }

  .my-report-id {
    top: 45px;
    left: 10px;

  }

  .my-report-date {
    top: 45px;
    right: 10px;


  }

  .my-report-device-number {
    display: inline-block;
    font-size: 16px;
    margin-right: 15px;
    margin-top: 40px;
    color: rgb(255, 255, 255);
  }

  .my-lab-number {
    display: block;
    font-size: 16px;
    color: rgb(255, 255, 255);
  }

  .my-problem-type {
    margin-top: 30px;
    font-size: 14px;
    font-weight: bold;
    color: white;
  }

  .my-problem {
    margin-top: 30px;
    display: block;
    margin-left: 0px;
    font-size: 16px;
    color: rgb(255, 255, 255);
  }

  .my-action-taken {
    color: rgb(255, 255, 255);
    display: inline-block;
  }

  .my-repair-date {
    margin-top: 100px;
    font-size: 19px;
    color: rgb(255, 255, 255);
  }

  .my-progress,
  .my-resolved {
    margin-top: 20px;
  }

  .no-report-picture {
    margin-top: 55px;
  }

  p {
    font-size: 14px;
    line-height: 1.5;
    color: #4c4c4c;
  }

  .assign-part {
    margin-top: 15px;

  }

  .assign-button {
    width: 120px;
    height: 30px;
    cursor: pointer;
    background-color: rgb(101, 77, 233);
    color: white;
    border: none;
    border-radius: 20px;
    margin-right: 15px;
  }

  .assign-button:hover {
    background-color: rgb(109, 92, 233);

  }

  .assign-button:active {
    background-color: rgb(169, 159, 240);

  }

  .handle-button {
    width: 150px;
    height: 30px;
    cursor: pointer;
    background-color: rgb(35, 142, 204);
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 15px;
  }

  .suggested-button {
    width: 150px;
    height: 30px;
    cursor: pointer;
    background-color: rgb(35, 142, 204);
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 15px;

  }

  .suggested-button:hover {
    background-color: rgb(68, 157, 209);

  }

  .suggested-button:active {
    background-color: rgb(93, 184, 237);

  }

  .no-reports-container {
    margin-top: 100px;
  }

  .handle-button:hover {
    background-color: rgb(68, 157, 209);

  }

  .handle-button:active {
    background-color: rgb(93, 184, 237);

  }
 
  .custom-steps .ant-steps-item-icon {
    background-color: rgb(190, 186, 244) !important;
    border-color: white !important;
    color: white;
  }

  .custom-steps .ant-steps-item-title,
  .custom-steps .ant-steps-item-description {
    color: rgb(0, 0, 0) !important;
  }

  .custom-steps .ant-steps-item-icon .ant-steps-icon {
    color: rgb(0,
        0,
        0) !important;
  }

  .custom-steps .ant-steps-item-finish .ant-steps-item-icon {
    background-color: rgb(145,
        138,
        254) !important;
    border-color: rgb(255, 255, 255) !important;
    border: solid 3px;
  }

  .custom-steps .ant-steps-item-process .ant-steps-item-icon {
    background-color: rgb(206, 204, 243) !important;
    border-color: rgb(255, 255, 255) !important;
    border: solid 3px;
  }

  .custom-steps .ant-steps-item-wait .ant-steps-item-icon {
    border-color: rgb(255, 255, 255) !important;
    border: solid 3px;
  }

  .custom-steps .ant-steps-item-icon .ant-steps-icon {
    color: white !important;
  }

  .custom-steps .ant-steps-item-tail::after {
    background-color: rgb(180, 180, 180) !important;
  }
  .steps-description{
    color: rgb(38, 38, 38);
    font-size: 16px;
  }



}